numpy==1.25.0
tqdm
einops
safetensors
scikit-image
scikit-learn
colorspacious
matplotlib
imageio
timm
lpips
plyfile
opencv-python
Pillow
huggingface_hub
omegaconf
scipy
torchmetrics
hdbscan
jaxtyping
xformers==0.0.27
torch_scatter==2.1.2
open3d
git+https://github.com/facebookresearch/pytorch3d.git
https://github.com/nerfstudio-project/gsplat/releases/download/v1.4.0/gsplat-1.4.0%2Bpt22cu121-cp310-cp310-linux_x86_64.whl
